.wrapper {
  // height: 40px;
  width: 40px;
  color: red;
  background: #2c3e50;
}

.aa {
  color: #344435;

  div {
    border: 1px solid #42b983;
  }
}

.dd {
  color: red;

  .aa {
      height: 20px;
    .cc {
      color: red;
    }
  }
}